<footer class="footer">
  <div class="footer--content">
    {% if footer_text_left %}
      <div class="footer--text-left">
        {{ footer_text_left }}
      </div>
    {% endif %}
    {% if footer_text_middle %}
      <div class="footer--text-middle">
        {{ footer_text_middle }}
      </div>
    {% endif %}
    {% if footer_text_right %}
      <div class="footer--text-right">
        {{ footer_text_right }}
      </div>
    {% endif %}
  </div>
</footer>